/* Modal container styling */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalInput {
  width: calc(100% - 70px);
  padding: 10px;
  margin: 8px 0 15px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Slide and fade in effect */
/* .slideFadeEnter {
  transform: translateX(100%);
  opacity: 0;
}

.slideFadeEnterActive {
  transform: translateX(0);
  opacity: 1;
}

.slideFadeExit {
  transform: translateX(0);
  opacity: 1;
}

.slideFadeExitActive {
  transform: translateX(100%);
  opacity: 0;
} */

.tagsList {
  /* list-style-type: none;
  padding: 0; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열로 설정 */
  gap: 10px; /* li 간의 간격 */
  padding: 0 0 10px 0;
  list-style: none;
}

.tagsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.tagsItem button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 10px;
}

.modalAddButton {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.modalSaveButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.modalSaveButton:hover {
  background-color: #45a049;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
