/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Button/DefaultButton.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.DefaultButton_defaultButton__PITTD {
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Button/DropdownButton/CastPostStickerDropdownButton/CastPostStickerDropdownButton.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* CastPostStickerDropdownButton.module.css */

.CastPostStickerDropdownButton_toggleContainer__tdPaX {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CastPostStickerDropdownButton_toggleButton__3RV7g {
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CastPostStickerDropdownButton_open__T_OAL {
  transform: rotate(360deg);
  background-color: #333;
  color: #fff;
}

.CastPostStickerDropdownButton_dropdown__443Yu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}

.CastPostStickerDropdownButton_show__P8TIS {
  opacity: 1;
  max-height: 150px; /* 적절한 크기로 설정 */
}

.CastPostStickerDropdownButton_dropdownItem__a6WgF {
  margin: 5px 0;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.CastPostStickerDropdownButton_dropdownItem__a6WgF:hover {
  background-color: #f0f0f0;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/LandingPage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.LandingPage_toSignInPageButtonContainer__Obg9E {
  width: 160px;
  height: 40px;
}

.LandingPage_signoutButtonContainer__y8Fgt {
  width: 160px;
  height: 40px;
}

.LandingPage_toSignUpPageButtonContainer___oN_C {
  width: 160px;
  height: 40px;
}

.LandingPage_castPostStickerDropdownButton__8clrw {
  position: absolute;
  right: 10px; /* 오른쪽에서 10px 떨어진 위치에 배치 */
  top: 15px; /* 하단에서 10px 떨어진 위치에 배치 */
  z-index: 10; /* 네트워크 그래프 위에 표시되도록 z-index 설정 */
  display: flex;
  flex-direction: column; /* 버튼을 세로로 정렬 */
  gap: 10px; /* 버튼 간의 간격 */
  width: 40px;
}

.LandingPage_magnifyButtonContainer__GprUG {
  position: absolute;
  right: 10px; /* 오른쪽에서 10px 떨어진 위치에 배치 */
  bottom: 15px; /* 하단에서 10px 떨어진 위치에 배치 */
  z-index: 10; /* 네트워크 그래프 위에 표시되도록 z-index 설정 */
  display: flex;
  flex-direction: column; /* 버튼을 세로로 정렬 */
  gap: 10px; /* 버튼 간의 간격 */
  width: 40px;
}

.LandingPage_logoutButtonContainer__AFMGU {
  width: 160px;
  height: 40px;
}

.LandingPage_visNetContainer____42t {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
}

.LandingPage_blinkingElement__S_zET {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(237, 6, 6, 0.962);
  border-radius: 50%;
  z-index: 100;
  animation: LandingPage_blink__6OwN2 1.5s infinite ease-in-out;
}

@keyframes LandingPage_blink__6OwN2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Modals/CastModal/CastModal.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.CastModal_modalOverlay__GXgyB {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.CastModal_modalContent__Yq7WY {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  animation: CastModal_fadeIn__T9AWi 0.3s ease;
}

.CastModal_modalCloseButton__tlUmN {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.CastModal_modalInput__fh9nd {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.CastModal_modalSubmitButton__vGpT_ {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

